
  <div class="row">
      <div class="col-sm-12 col-md-4 px-5 ">
        <h3 class="page-title">会員情報</h3>
        <table class="table table-bordered">
          <tr>
            <th class="page-text">（姓）:</th>
            <td class="page-text"><%= current_customer.last_name %></td>
          </tr>
          <tr>
            <th class="page-text">（名）:</th>
            <td class="page-text"><%= current_customer.first_name %></td>
          </tr>
          <tr>
            <th class="page-text">ユーザーネーム:</th>
            <td class="page-text"><%= current_customer.user_name %></td>
          </tr>
          <tr>
            <th class="page-text">メールアドレス:</th>
            <td class="page-text"><%= current_customer.email %></td>
          </tr>
        </table>
          <%= link_to "会員情報を編集", customer_edit_path, class: "btn btn-success mb-5" %>
      </div>
      
      <div class="col-sm-12 col-md-4 px-5 ">
        <h3 class="page-title">投稿したメニュー</h3>
        <% if @menus.count == 0 %>
          <p class="page-text">現在、あなたが投稿したメニューはありません。</p>
        <% else %>
          <div id="customer-menus-index">
            <%= render "public/menus/index", menus: @menus %>
          </div>
          
        <% end %>
      </div>
      
      <div class="col-sm-12 col-md-4 px-5">
        <h3 class="page-title">お気に入り一覧</h3>
        <% if @bookmark_menu.count == 0 %>
          <p class="page-text">現在、お気に入りに登録しているメニューはありません。</p>
        <% else %>
          <div id="bookmark-menus-index">
            <%= render "public/bookmarks/index", bookmark_menu: @bookmark_menu %>
          </div>
        <% end %>
      </div>
      
  </div>

     