<div class="container">
  <div class"row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <% if current_admin.present? %> 
        <h3 class="page-title">RELALTH管理者画面</h3>
        <p class="page-text">
          RELALTH管理者画面は、会員情報の閲覧や、不適切な投稿を削除。<br />
          また、不適切な投稿を行うユーザーの利用停止を行うことができます。
        </p>
        <div class="btn-wrapper col-11 mx-auto">
          <div class="row">
            <%= link_to "会員一覧", admin_customers_path, class: "btn btn-info btn-sm btn-block mb-3" %>
          </div>
          <div class="row">
            <%= link_to "メニュー一覧", admin_menus_path, class: "btn btn-success btn-sm btn-block mb-3" %>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="container">
  <div class"row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <% else %>
        <h4 class="page-title">ようこそ、<strong>RELALTH</strong>へ！</h4>
        <p class="page-text">
          <strong>RELALTH</strong>では、セルフケアのやり方が共有できたり、<br />
          ご自身の身体に合わせたストレッチと出会うことができます。
        </p>
        <div class="btn-wrapper col-11 mx-auto">
          <div class="row">
            <%= link_to "診断開始する", new_hearing_path, class: "btn btn-secondary btn-sm btn-block mb-3"  %>
          </div>
        </div>
        
        <% if current_customer == nil %>
          <p class="page-text">
            また、会員登録していただくと、ストレッチのメニューをお気に入り登録をすることができたり、<br />
            コメントをすることができるようになります。
          </p>
           <div class="btn-wrapper col-11 mx-auto">
            <div class="row">
              <%= link_to "ログイン", new_customer_session_path, class: "btn btn-info btn-sm btn-block mb-3"  %><br />
            </div>
            <div class="row">
              <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-success btn-sm btn-block mb-3"  %>
            </div>
          </div>
        <% else %>
          <p class="page-text">
            会員機能ではマイページにてお気に入りのメニューを確認できたり、ご自身の投稿を確認できます。<br />
            また、メニューにコメントをすることもできるのでぜひしてみてください！
          </p>
          <div class="btn-wrapper col-11 mx-auto">
            <div class="row">
              <%= link_to "マイページ", mypage_path, class: "btn btn-info btn-sm btn-block mb-3" %>
            </div>
            <div class="row">
              <%= link_to "メニュー一覧", menus_path, class: "btn btn-success btn-sm btn-block mb-3" %>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>  