<h3><%= @customer.last_name + @customer.first_name %>さんの会員詳細ページ</h3>


<%= @customer.last_name + @customer.first_name %>
<%= @customer.user_name %>
<%= @customer.email %>
<%= @customer.is_deleted %>

<%= link_to "編集する", edit_admin_customer_path(@customer) %>