 
 <div class="row">
  <div class="col-sm-12 col-md-6 px-5">
    <h3 class="page-title"><%= @customer.last_name + @customer.first_name %>さんの会員詳細ページ</h3>
    <table class="table table-bordered">
      <tr>
        <th class="page-text">（姓）:</th>
        <td class="page-text"><%= @customer.last_name %></td>
      </tr>
      <tr>
        <th class="page-text">（名）:</th>
        <td class="page-text"><%= @customer.first_name %></td>
      </tr>
      <tr>
        <th class="page-text">ユーザーネーム:</th>
        <td class="page-text"><%= @customer.user_name %></td>
      </tr>
      <tr>
        <th class="page-text">メールアドレス:</th>
        <td class="page-text"><%= @customer.email %></td>
      </tr>
      <tr>
        <th class="page-text">会員ステータス</th>
        <% if @customer.is_deleted == true %>
          <td class="text-danger">退会</td>
        <% else %>
          <td class="text-success">有効</td>
        <% end %>
      </tr>
    </table>
      <%= link_to "会員情報を編集", edit_admin_customer_path(@customer), class: "btn btn-success mb-5" %>
  </div>

  <div class="col-sm-12 col-md-6 px-5">
    <h3 class="page-title"><%= @customer.last_name+@customer.first_name %>さんが投稿したメニュー</h3>
    <% if @customer.menus.count == 0 %>
      <p class="page-text">現在、<%= @customer.last_name+@customer.first_name %>さんが投稿したメニューはありません。</p>
    <% else %>
      <div id="customer-menus-index">
        <%= render "admin/menus/index", menus: @menus %>
      </div>
    <% end %>
  </div>
</div>

  