<table class="table table-hover table-inverse">
  <% menus.each do |menu| %>
    <thead class="thead-ligit">
      <tr>
        <th class="page-text" style="width: 50%;">メニュー名:　<%= menu.name %></th>
        <th class="text-right page-text" style="width: 50%;">部位:<%= menu.site_name_i18n %></th>
      </tr>
    </thead>
    
    <tbody>
    <tr>
      <td class="text-center page-text"><%= menu.description %></td>
      <td class="text-right page-text">
      <%= link_to "内容を見る", menu_path(menu.id),class: "btn btn-outline-info justify-content-end btn-text" %>
      <% if menu.customer == current_customer %>
        <%= link_to "詳細を変更",edit_menu_path(menu.id),class: "btn btn-outline-success justify-content-end btn-text" %>
      <% end %>
      </td>
      
    </tr>
  <% end %>
</table>
<%= paginate menus, remote: true %>