<h3>メニュー編集</h3>
<%= form_with model: @menu, url: menu_path, method: :patch do |f| %>

 <%= f.label "メニュー名" %><br />
 <%= f.text_field :name, autocomplete: "name" %><br />
 
 <%= f.label "メニュー説明" %><br />
 <%= f.text_area :description %><br />
 
 <%= f.label :プラン %><br />
 <%= f.select :plan_name, Menu.plan_names.keys.map { |k| [t("enums.menu.plan_name.#{k}"), k] } %><br />
 
 <%= f.submit "メニューを編集" %>
 
<% end %>
