<div class='row'>
 <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">  
  <%= render 'layouts/errors', obj: @menu %>
  <h3>メニュー編集</h3>
  <%= form_with model: @menu, url: menu_path, method: :patch do |f| %>
  <div class="form-group">
   <%= f.label "メニュー名" %><br />
   <%= f.text_field :name, autocomplete: "name", class: "form-control" %>
  </div>
  <div class="form-group">
   <%= f.label "メニュー説明" %><br />
   <%= f.text_area :description, class: "form-control" %><br />
  </div>
  <div class="form-group">
   <%= f.label :どんな人に向けて %><br />
   <%= f.select :plan_name, Menu.plan_names_i18n.keys.map { |k| [t("enums.menu.plan_name.#{k}"), k] },class: "form-select form-select form-select-lg mb-3" %><br />
  </div>
  <div class="form-group">
   <%= f.label :部位 %><br />
   <%= f.select :site_name, Menu.site_names_i18n.keys.map { |k| [t("enums.menu.site_name.#{k}"), k] },class: "form-select form-select form-select-lg mb-3" %><br />
  </div>
  <%= f.submit "変更を保存",class: "btn btn-success" %>
  
  <% end %>
 </div>
</div> 
