<h3>メニュー作成</h3>
<%= form_with model: @menu, url: menus_path do |f| %>
 <%= f.label "メニュー名" %><br />
 <%= f.text_field :name %><br />
 
 <%= f.label "メニュー説明" %><br />
 <%= f.text_area :description %><br />
 
 <%= f.label :どの診断結果に入れたいか %><br />
 <%= f.select :plan_name, Menu.plan_names_i18n.keys.map { |k| [t("enums.menu.plan_name.#{k}"), k] } %><br />
 
 <%= f.label :部位 %><br />
 <%= f.select :site_name, Menu.site_names_i18n.keys.map { |k| [t("enums.menu.site_name.#{k}"), k] } %><br />
 
 <%= f.submit "メニューを作成" %>
 
<% end %>