<%= render "layouts/errors", obj: @menu %>

  <div class="row pt-5">
      <div class="col-sm-12 col-md-3 px-5 mb-5">
        <% if @menu.customer == current_customer %>
          <%= link_to "このページの全てを削除", menu_path(@menu),  method: :delete,
            "data-confirm" => "メニュー、投稿したストレッチ、コメントが全て消えてしまいます。\r\n本当に削除しますか？",class: "btn btn-danger" %>
          <div class="mt-3">
            <%= render "public/menu_items/form", menu: @menu, menu_item: @menu_item %>
          </div>
        <% end %>
      </div>
      <div class="col-sm-12 col-md-6 px-5 mb-5">
        <h3 class="page-title"><%= @menu.name %></h3>
        
        <div id="menu-items-index">
          <%= render "public/menu_items/menu_items_page", menu_items: @menu_items, menu: @menu %>
        </div>
        
      </div>
      
      
      
      <div class="col-sm-12 col-md-3 px-5">
        <% if customer_signed_in? %><!--ログインしていたらコメント,ブックマークできる-->
          <% if @menu.customer_id != current_customer.id %><!--投稿した会員ではない場合ブックマークできる-->
            <div id="bookmark_btn_<%= @menu.id %>">
              <%= render "public/bookmarks/btn", menu: @menu %>
            </div>
          <% end %>
          <div class="-top">
            <%= render "public/comments/form", menu: @menu, comment: @comment %>
          </div>
        <% else %>
          <p>会員登録またはログインしていただくと、お気に入り登録やコメント投稿ができるようになります。</p>
        <% end %>
        
        <div id="comments-index">
          <%= render "public/comments/comments_page", comments: @comments, menu: @menu %>
        </div>
      
      </div>
  </div>  
