<%= render "layouts/errors", obj: @menu %>

<h3><%= @menu.name %></h3>

<% if @menu.customer == current_customer %>
  <%= link_to "このページの全てを削除する", menu_path(@menu),  method: :delete,
                                              "data-confirm" => "メニュー、投稿したストレッチ、コメントが全て消えてしまいます。         本当に削除しますか？" %>
  <%= render "public/menu_items/form", menu: @menu, menu_item: @menu_item %>
<% end %>

<div class="menu_items_area">
  <%= render "public/menu_items/index", menu_items: @menu_items, menu: @menu %>
</div>


<% if customer_signed_in? %><!--ログインしていたらコメント,ブックマークできる-->
  <% if @menu.customer_id != current_customer.id %><!--投稿した会員ではない場合ブックマークできる-->
    <div id="bookmark_btn_<%= @menu.id %>">
      <%= render "public/bookmarks/btn", menu: @menu %>
    </div>
  <% end %>
  
  <%= render "public/comments/form", menu: @menu, comment: @comment %>
  
<% else %>
  <p>会員登録またはログインしていただくと、お気に入り登録やコメント投稿ができるようになります。</p>
<% end %>

<div class="comments_area">
  
  <%= render "public/comments/index", menu: @menu %>
</div>
