<table class="table table-hover table-inverse">
  <% menus.each do |menu| %>
    <thead class="thead-ligit">
      <tr>
        <th class="page-text" style="width: 50%;">メニュー名:　<%= menu.name %></th>
        <th class="text-right page-text" style="width: 50%;">部位:<%= menu.site_name_i18n %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center page-text"><%= menu.description %></td>
        <td class="text-right ">
          <%= link_to "内容を見る", admin_menu_path(menu.id),class: "btn btn-outline-info justify-content-end" %>
          <%= link_to "詳細を変更",edit_admin_menu_path(menu.id),class: "btn btn-outline-success justify-content-end" %>
        </td>
      </tr>
    <tbody>
  <% end %>
</table>
<div class="col-12">
  <%= paginate menus %>
</div>