<h3>部位検索</h3>
  <%= form_tag(menus_path, method: :get) do %>
    <%= select_tag :site_name, options_for_select({ "全身" => "zenshin", "首" => "neck", "肩" => "shoulder",
                                                    "腰" => "waist", "脚" => "leg", "膝" => "knee"}) %>
    <%= submit_tag '検索する' %>
  <% end %>
  
<h3>一覧</h3>

<% @menus.each do |menu| %>
  
  <%= link_to admin_menu_path(menu.id) do %>
    <%= menu.name %>
  <% end %>
  
  <%= menu.description %>
  <%= menu.site_name_i18n %>
    <%= link_to "編集する", edit_admin_menu_path(menu.id) %>
    <%= link_to "削除する", admin_menu_path(menu.id), method: :delete %><br />
  
<% end %>


