<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col-lg-6">
      <h3>メニュー一覧</h3>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="d-flex justify-content-end mb-５">
        <div class="form-inline d-block text-right">
          <%= form_tag(admin_menus_path, method: :get) do %>
            <%= select_tag :site_name, options_for_select({ "全身" => "zenshin", "首" => "neck", "肩" => "shoulder",
                                                            "腰" => "waist", "脚" => "leg", "膝" => "knee"}) %>
            <%= button_tag type: 'submit' do %>
              <i class="fas fa-search"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="px-md-5 col-sm-12">
  <div class="row mx-md-5">
    <table class="table mx-5 table-hover table-inverse">
      <% @menus.each do |menu| %>
        <thead class="thead-ligit">
          <tr>
            <th style="width: 50%;">メニュー名:　<%= menu.name %></th>
            <th class="text-right" style="width: 50%;">部位:<%= menu.site_name_i18n %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center"><%= menu.description %></td>
            <td class="text-right">
              <%= link_to "内容を見る", admin_menu_path(menu.id),class: "btn btn-outline-info justify-content-end" %>
              <%= link_to "詳細を変更",edit_admin_menu_path(menu.id),class: "btn btn-outline-success justify-content-end" %>
            </td>
          </tr>
        <tbody>
      <% end %>
    </table>
  </div>
</div>

