<div class="container">  
  <div class="row">
    <div class="col-md-9 offset-md-2">
      <div><h3 class="mb-5 mini-title">ログイン</h3></div>
      <div class="mb-4">
        <h5 class="mini-title offset-md-1">会員の方はこちらからログイン</h5>
      </div>
      <div class="col-8 offset-md-2">
        <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
          <div class="form_group row">
            <%= f.label "メールアドレス", class: "col-md-4" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mb-3 col-md-7 form-control" %>
          </div>
        
          <div class="form_group row">
            <%= f.label "パスワード", class: "col-md-4" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "mb-3 col-md-7 form-control" %>
          </div>
           <div class="actions form-group row">
            <%= f.submit "ログイン", class: "mb-5 btn btn-primary col-md-3 offset-md-3" %>
          </div>
        <% end %>
      </div>
      <div class="offset-md-2">
        <p> <%= link_to "会員登録がお済みでない方はこちら", new_customer_registration_path %></p>
      </div>
    </div>
  </div>
</div>