 <h3 class="page-title"><%= @menu.name %></h3>
<% if @menu_items.count == 0 %>
  <p class="page-text text-center">
    現在、ストレッチは投稿されておりません。<br />
    今しばらくお待ちください。
  </p>
<% else %>

  <table class='table table-hover table-inverse'>
    
    <% menu_items.each do |menu_item| %>
  
    <tbody>
      <tr>
        <td class="text-center"><%= image_tag menu_item.get_image(350, 260) %></td>
      </tr>
      <tr>
        <td class="text-center page-text">
          <%= menu_item.description %><br />
          
          <% if menu.customer == current_customer %>
            <p class="text-right mt-4">
              <%= link_to "編集する", edit_menu_menu_item_path(menu_item.menu_id, menu_item.id),class: "btn btn-outline-success justify-content-end btn-text" %>
              <%= link_to "削除", menu_menu_item_path(menu_item.menu_id, menu_item.id), method: :delete, remote: true, "data-confirm" => "本当に消しますか？",class: "btn btn-outline-danger btn-text" %>
            </p>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
<% end %>


