<!DOCTYPE html>
<html>
  <head>
    <title>RELALTH</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
  </head>

  <body>
    <header>
    <% if current_customer == nil && current_admin == nil %>
      <%= render 'layouts/guest_header' %>
    <% elsif current_customer == nil && current_admin.present? %>
      <%= render 'layouts/admin_header' %>
    <% else current_customer == true && current_admin == nill %>
      <%= render 'layouts/customer_header' %>
    <% end %>
    </header>
     
    <main>
      <div class="notice mb-5">
        <%= render "layouts/notice" %>
      </div>
      <div class="pt-5">
        <%= yield %>
      </div>
      
    </main>
    
    <footer>
      <p class="footer-text">@RELALTH</p>
    </footer>
  </body>
</html>
